//colors
$navbarBlueCreatePost: rgb(59, 73, 223);
$navbarBlueCreatePostBorder: rgb(47, 58, 178);
$whiteColor: rgb(254, 254, 254);
$createPostText: rgb(116,126,232);

// Breakpoints
$xxsmall:320px;
$xsmall: 375px;
$small: 425px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;
$extra-4k: 2560px;

//dimentions
$headerPadding: 0.5rem;
$headerHeight: 3.75rem;
$logoHeightPrevent: 0.5rem;
$createPostMargin: 0.5rem;


//margin de standard 1rem
$standarMargin: 1rem;
$standarRem: 1rem;
$paddingHalfRem: 0.5rem;


//fonts family
$monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
$comic: 'Comic Sans MS', cursive, sans-serif;

//fontWeight

$font-100: 100;
$font-200: 200;
$font-300: 300;

