.container-fluid{
    background-color: rgb(235, 228, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.listItem {
    align-items: center;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
    padding: 0px;
    list-style: none;
    gap:6px;
}

.circle {    
    background: #575757;
    border-radius: 50%;
    height: 0.25rem;    
    width: 0.25rem;
    display: inline-block;
    margin-left: 0.5rem;
}

