@use '../variables';

.createNavWrapper{
    background-color: red;
    .imgBrand{
        a{
            img{
                display: inline-block;
                height: calc(variables.$headerHeight - variables.$logoHeightPrevent * 2);
                max-width: 100%;
                object-fit: contain;
                outline: 0px;
                vertical-align: middle;
                width: auto;
            }
        }
    }
}
